{% extends 'accounts/password_reset.html' %}

{% block content %}
  <div class="col-md-8" style="margin-left: 200px; padding-top: 5px; margin-top: 5px;">
      <legend>Password reset sent</legend><hr>
      <span style="font-size: 14px;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</span>
      <p style="font-size: 14px;">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
  </div>
{% endblock content %}