<!-- LIST OF LAUNDRIERS AND COMPANIES DISPLAYED TO USER -->


{% extends "base0.html" %}

{%block content %}
        <!-- team section -->
        {% if company_profiles %}

        <section id="team" class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="display-1 text-uppercase text-dark mb-0">
                            <strong>Laundry Firms</strong>
                        </h1>
                        <div class="title-underline bg-warning"></div>
                        <p class="mt-2 text-capitalize text-muted size text-center w-50 h-25 mx-auto">list of Laundry companies.</p>
                    </div>
                </div>
                <div class="row">
                    {% for company in company_profiles %}
                    <!-- team member -->
                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="card text-center">
                            <img src="{{company.photo.url}}" alt="my-image" class="card-img-top" style="width:348px; height:230.75px;">
                            <div class="card-body">
                                <p class="card-text">
                                    <ul class="list-group list-group-flush font-weight-bold text-center">
                                            <li class="list-group-item" style="text-align:left;">Company name: <span class="text-primary">{{company.user}}</span></li>
                                            <li class="list-group-item" style="text-align:left;">Location: <span class="text-primary">{{company.address}}</span></li>
                                    </ul>
                                </p>
                                <a href="{% url 'pricing' migo=company.user.id %}" class="text-warning  text-uppercase btn btn-outline-warning" style="text-decoration:none">pick now</a>
                            </div>
                            
                        </div>
                    </div>

                    {% endfor %}

                    <!-- end of first team member -->
                  
                        
                </div>
                  <!-- Bootrap Pagination
                  <nav aria-label="..." class="float-right">
                    <ul class="pagination">
                        {% if company_profiles.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ company_profiles.previous_page_number }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled = "true">Previous</a>
                        </li>

                        {% endif %}
                        {% for i in company_profiles.paginator.page_range %}
                        {% if i == company_profiles.number %}
                        <li class="page-item active"><a class="page-link">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                    
                        {% if company_profiles.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{company_profiles.next_page_number}}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled = "true">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>-->
            </div>
        </section>
        {% else %}  
        <legend class="text-danger" style="margin-left: 600px;margin-top: 100px;margin-bottom: 275px;"> No laundry company registered here</legend>
        {% endif %}
        <!-- end of the team section -->
{% endblock %}