{% extends 'base0.html' %}
{% block carticon %}
    <i class="fas fa-shopping-cart fa-2x mx-2"></i>
{% endblock %}


{% block content %}

 
  {% include './messages.html' %}
    <div class="container">
        <div class="row">
            {% if cart.cartproduct_set.all %}
            <div class="col-md-8 table table-bordered coolers">
              <div style="font-size: 30px;" class="font-weight-bold text-center">Your laundry cart</div>              
                <div class="text-center mb-1"> <a href="{% url 'pricing' migo=id %}" class="btn  d-inline btn-primary"><i class="fas fa-arrow-left mx-2"></i>Continue adding to cart</a> </div>
                <div class="text-center"><i class="far fa-handshake fa-2x mx-3 mt-4"></i>Job assigned to : <span class="font-weight-bold text-primary">{{name}}</span></div>  
                <!-- Hapa nimeweka cart.id ili niweze hii link ifanye kazi lakn hapa inabidi hii cart iwe na id ya laundry/company placed to process the customer orders -->

                <hr>
                
                <table  class="table table-borderless">
                <thead>
                    <tr>  
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {% for cp in cart.cartproduct_set.all %}
                <tbody>
                <tr>
                    <td><img src="{{cp.product.image.url}}" class="gotgo"></td>
                    <td><span"> {{cp.product.title}}</span></td>
                    <td><a href="{% url 'managecart' cp.id %}?action=dcr"><i class="fas fa-caret-left fa-2x mx-2"></i></a><span class="fit">{{cp.quantity}}</span><a href="{% url 'managecart' cp.id %}?action=inc"><i class="fas fa-caret-right fa-2x mx-2"></i></a></td>
                    <td><span class="fit">Tshs. {{cp.subtotal}}</span></td>
                    <td><div style="text-align:center;" class="punguza"><a class="btn btn-danger" href="{% url 'managecart' cp.id %}?action=rmv"><i class="fas fa-times"></i></a></div></td>

                </tr>

                {% endfor %}
                
                <tr>
                    <th colspan="3" class="text-right">Total</th>
                    <th>Tshs.{{cart.total}}</th>
                    <!--{% if cart.cartproduct_set.all %}--> <!-- this will check if there is any queryset of cartproduct related to carts-->
                    <th colspan="3.5" class="text-right"><a href="{% url 'emptycart' %}" class="btn btn-danger">empty cart</a></th>
                    <!--{% endif %}-->
                </tr>
                
                </tbody> 
                </table>

                <hr>
                <!--{% if cart.cartproduct_set.all  %}-->
                <div class="col-md-4 checkout d-flex">
                    <a href="{% url 'checkout' %}" class="btn btn-success justify-content-end d-block">Proceed to checkout<i class="fas fa-arrow-right mx-2"></i></a> 
                </div>

                
                <!--{% endif %}-->
            </div>
                <!--{% if cart.cartproduct_set.all %}-->
                <div class="col-md-5 mar mx-3" style="background-color: white;">
                    <form action="{% url 'scheduled' %}" method = "POST" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <p class="font-weight-bold" style="margin-top: 25px;"> Here you can schedule on when to take job(submit dirt clothes/shoes) with its completion date (a date on for job to be done), defaulted to 2 days as due time for less than 21 number of clothes or/and shoes, any job is assumed to be done on duration of 2 days to 15 days depending on schedule and amount of clothes/shoes </p>
                            <hr>
                            <div class="row mx-3">
                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">arrive date</div>
                                  </div>
                                  <input type="text" class="form-control" id="picker1" name="start" value="{{start}}" required>
                                </div>
                            </div>
                            <div class="row mx-3">
                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">finish date</div>
                                  </div>
                                  <input type="text" class="form-control" id="picker2" name="end" value="{{end}}" required>
                                  <!--remember this above id we use it on js, and remember id is only applied at once unlike the class, so to use this features on the other element we need another id-->
                                </div>
                            </div>
                            
                    
                             
                            <p class="font-weight-bold" style="margin-top: 20px;"> Here you can select the mode of collecting already processed clothes either to go yourself to pick them at the working station or to enable a door-to-door delivery </p><hr>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value = "Pick at station" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Pick at a station
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value = "Door step pickup">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Door step pickup
                                </label>
                              </div> 
                            <button type="submit" class="btn btn-primary arr">save</button>
                      </form>
                </div>
                {% else %}
                <p style="margin-top: 30px;"> Ooops!!! Empty cart,<br>You don't have any clothes or shoes added to cart, if you wish, click link below to add items to your cart </p>
                <a href="{% url 'pricing' migo=id%}" class="btn btn-secondary" style = "margin-bottom: 279px;">Items listing</a>
                <!-- Hapa nimeweka cart.id ili niweze hii link ifanye kazi lakn hapa inabidi hii cart iwe na id ya laundry/company placed to process the customer orders -->
                {% endif %}   
            {% else %}  <!-- This means the cart is not found, it will return-->
            <p style="margin-top: 30px;"> Ooops!!! Empty cart,<br>You don't have any clothes or shoes added to cart, if you wish, click link below to add items to your cart </p>
            <a href="{% url 'pricing' migo=id%}" class="btn btn-secondary" style = "margin-bottom: 279px;">Items listing</a>
            <!-- Hapa nimeweka cart.id ili niweze hii link ifanye kazi lakn hapa inabidi hii cart iwe na id ya laundry/company placed to process the customer orders -->

            {% endif %}
        </div>
    </div>
{% endblock %}