{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'customer/css/bootstrap.min.css' %}">
    <!-- font-awesome -->
    <script src="./js/all.js"></script>


    <!--Date picker-->
    <link rel="stylesheet" href="{% static 'customer/css/jquery.datetimepicker.min.css' %}">
    <script src="{% static 'customer/js/jquery.js' %}"></script>
    <script src="{% static 'customer/js/jquery.datetimepicker.full.js' %}"></script>
    <!-- Even the javascript files are contained within the static folder so they should be linked like we do above-->
    
    <!-- Fontawesome Link (Make sure to add this link to use these icons)-->
    <script src="https://kit.fontawesome.com/a45f84b068.js" crossorigin="anonymous"></script>
    <!-- project2-baby.css -->
    <link rel="stylesheet" href="{% static 'customer/css/project-baby3.css' %}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
    {% block title %}
    <title>Change password</title>
    {% endblock title %}

</head>
<body>
<header>
  <nav class ="navbar navbar-expand-md navbar-light bg-info border-bottom">
    <div class="container-fluid">
      <a class = "navbar-brand" href="">Fua Yako </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
    

        </ul>
     
      </div>
    </div>
    </nav>

<div class="container col-md-5">
  <legend style="margin-top: 30px;">Change Password</legend><hr>
  <form action = "" method="POST">
      {% csrf_token %}
      {{form.as_p}}<br>
      <input type="submit" class="btn btn-outline-info" value="submit" style="margin-left: 540px; margin-top: 10px; margin-bottom: 10px;">
  </form>
</div>

</body>
</html>