<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr><th><label for = "id_name">name:</label></th><td><input type="text" name="name" maxlength="50" required id="id_name"></td></tr>
                <tr><th><label for = "id_email">email:</label></th><td><input type="email" name="email" maxlength="30" required id="id_email"></td></tr>
                <tr><th><label for = "id_password">password:</label></th><td><input type="password" name="password" maxlength="40" required id="id_password"></td></tr>
                <tr><th><label for = "id_phone">phone:</label></th><td><input type="tel" name="phone" maxlength="13" required id="id_phone"></td></tr>
            </table>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>

