{% load static %}
{% load crispy_forms_filters %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a45f84b068.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'laundryman/css/both_of_them.css' %}"> 
  </head>
  <body>   
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url({{pic}});"></a> 
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="{% url 'profile222' %}">Profile</a>
	          </li>
	          <li>
	              <a href="{% url 'received_order' %}"></i>  Received Order</a>
	          </li>
	          <li>
              <a href="{% url 'forgotPassword' %}">change password</a>
	          </li>
	        </ul>
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lauNotification' %}"><i class="far fa-bell fa-2x text-warning"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary ml-3" href="/accounts/logout">logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>




         <!-- my code start here-->
        <div class="container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
               <div class="card card-body" id="fomu">
                <div class="card-title text-center">
                  <h2 class="text-capitalize text-white">Enter information to edit your profile</h2></div>
              <form method = 'POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-warning" value="save">
              </form>
            </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
     <!-- my code end here-->

      </div>
		</div>

    <script src="{% static 'company/js/jquery.min.js' %}"></script>
    <script src="{% static 'company/js/popper.js' %}"></script>
    <script src="{% static 'company/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'company/js/main.js' %}"></script>
  </body>
</html>